<!-- Our Calendar Text -->
@*<div class="text-center py-4 py-lg-0 px-4 px-lg-0">
    <div class="my-card-plain mx-auto bg-gray-dark mb-4" style="max-width: 24rem;">
        <h3 class="font-weight-bold text-white text-center py-4"><img class="card-image-size" src="~/Content/Svg/Cards/Calendar.svg" />Upcoming Calendar</h3>
    </div>
</div>  *@

<div class="row gx-0 gx-lg-4">
    <div class="col-12 mx-auto pb-3">
        <img class="w-100" src="~/content/gallery/about/000001.jpg" />
    </div>
</div>
